html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

body {
  background: white;
  line-height: 1;
  color: black; }

ol, ul {
  list-style: none; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

.mypage-header-group {
  background-image: url("../Images/header-group.png"); }
  .mypage-header-group-head {
    background: rgba(0, 0, 0, 0.7);
    border-bottom: solid 1px #9f9f9f; }
    .mypage-header-group-head .navbar-header button .icon-bar {
      background: white; }
    .mypage-header-group-head .navbar-nav {
      width: 100%;
      text-align: center; }
      .mypage-header-group-head .navbar-nav > li {
        float: none;
        display: inline-block; }
        .mypage-header-group-head .navbar-nav > li a {
          color: #b9b8b8;
          font-size: 0.8em; }
        .mypage-header-group-head .navbar-nav > li .icon {
          padding: 0px;
          margin-top: 15px; }
    @media screen and (max-width: 767px) {
      .mypage-header-group-head .navbar-nav {
        width: auto;
        text-align: initial; }
        .mypage-header-group-head .navbar-nav > li {
          display: block; } }
  .mypage-header-group-wrap {
    position: relative; }
  .mypage-header-group-baner {
    min-height: 630px; }
    @media screen and (max-width: 991px) {
      .mypage-header-group-baner {
        min-height: initial; } }
    .mypage-header-group-baner-dino {
      position: absolute;
      min-height: 630px;
      max-width: 725px;
      left: 0px; }
      .mypage-header-group-baner-dino img {
        position: absolute;
        bottom: -41px; }
      @media screen and (max-width: 991px) {
        .mypage-header-group-baner-dino {
          min-height: initial; }
          .mypage-header-group-baner-dino img {
            display: none; } }
    .mypage-header-group-baner-info .baner-info-title {
      text-align: right;
      color: white;
      margin-top: 220px; }
    .mypage-header-group-baner-info .baner-info-text {
      font-size: 0.9em;
      color: white;
      padding: 50px 0px; }
    .mypage-header-group-baner-info .baner-info-buttons {
      padding-bottom: 115px; }
      .mypage-header-group-baner-info .baner-info-buttons button {
        border: solid 1px white;
        padding: 15px 45px; }
      .mypage-header-group-baner-info .baner-info-buttons button:first-child {
        color: white;
        background: rgba(113, 113, 110, 0.6);
        margin-right: 45px; }
      .mypage-header-group-baner-info .baner-info-buttons button:last-child {
        color: #434242;
        background: white; }

.mypage-products-group-button button {
  font-size: 3em;
  padding: 5px 20px;
  color: white;
  background: #63b63f;
  border: none;
  margin-top: 150px;
  margin-bottom: 75px; }

.mypage-products-group-galery .mypage-products-group-element {
  margin-bottom: 75px; }
  .mypage-products-group-galery .mypage-products-group-element-image img {
    height: 100px;
    width: 100px; }
  .mypage-products-group-galery .mypage-products-group-element-image .hover-img {
    display: none;
    position: absolute;
    opacity: 0.7;
    top: 0px;
    left: 15px; }
  .mypage-products-group-galery .mypage-products-group-element-image img:hover + .hover-img {
    display: block; }
  .mypage-products-group-galery .mypage-products-group-element-content h2 {
    color: #549a35; }
  .mypage-products-group-galery .mypage-products-group-element-content h2:hover {
    color: #264817; }
  .mypage-products-group-galery .mypage-products-group-element-content p {
    margin-top: 15px;
    font-size: 0.92em; }

h1 {
  font-size: 3em; }
