.mypage-header-group {
    background-image: url("../Images/header-group.png");
    &-head {
        .navbar-header {
            button {
                .icon-bar {
                    background: white;
                }
            }
        }
        background: rgba(0,0,0,0.7);
        border-bottom: solid 1px #9f9f9f;
        .navbar-nav {
            width: 100%;
            text-align: center;
            >li {
                float: none;
                display: inline-block;
                a {
                    color: #b9b8b8;
                    font-size: 0.8em;
                }
                .icon {
                    padding: 0px;
                    margin-top: 15px;
                }
            }
        }
        @media screen and(max-width: 767px) {
            .navbar-nav {
                width: auto;
                text-align: initial;
                >li {
                    display: block;
                }
            }
        }
    }
    &-wrap {
        position: relative;
    }
    &-baner {
        min-height: 630px;
        @media screen and(max-width: 991px) {
            min-height: initial;
        }
        &-dino {
            position: absolute;
            min-height: 630px;
            max-width: 725px;
            left: 0px;
            img {
                position: absolute;
                bottom: -41px;
            }
            @media screen and(max-width: 991px) {
                min-height: initial;
                img {
                    display: none;
                }
            }
        }
        &-info {
            .baner-info-title {
                text-align: right;
                color: white;
                margin-top: 220px;
            }
            .baner-info-text {
                font-size: 0.9em;
                color: white;
                padding: 50px 0px;
            }
            .baner-info-buttons{
                padding-bottom: 115px;
                button{
                    border: solid 1px white;
                    padding: 15px 45px;
                }
                button:first-child{
                    color: white;
                    background: rgba(113, 113, 110, 0.6);
                    margin-right: 45px;
                }
                button:last-child{
                    color: #434242;
                    background: white;
                }
            }
        }
    }
}